<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<!-- 启动hibernate的配置文件 -->
<hibernate-configuration>
	<!-- sessionFactory类似于DataSource -->
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/sduoj</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">19971118</property>
		<mapping class="dataBase.ProblemDatabase"/>
		<mapping class="dataBase.ProblemDatabaseTemp"/>
	</session-factory>
</hibernate-configuration>